.main-banner {
    object-fit: contain;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    overflow: hidden;
}


.banner-content {
    max-width: 50%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.banner-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.banner-content .buttons {
    display: flex;
    gap: 10px;
}

.banner-play-btn,
.banner-detail-btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.banner-play-btn:hover,
.banner-detail-btn:hover  {
    background-color: rgb(107, 107, 107); /* 마우스 오버 시 색상 변경 */
}