* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    position: sticky;
    z-index: 100; 
    position: fixed;
    transition: background-color 0.3s;
    width: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.nav-black {
    background-color: black;
}

.nav-logo{
    width: 100px;
    display: block;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 40px; 
    flex: 1; /* 메뉴가 로고와 아바타 사이에 균등한 간격을 차지하도록 설정 */
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #8e8e8e;
    cursor: pointer;
}

.search-input {
    top: 10px;
    right: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 10px;
}

.nav-search{
    width: 25px;
    display: block;
    cursor: pointer;
    margin-right: 25px;
}

.nav-alarm{
    width: 22px;
    display: block;
    cursor: pointer;
    margin-right: 20px;
}
.nav-avatar{
    width: 30px;
    display: flex;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 3px;
}